<div id="portrait-mobile">
	<div class="row-fluid">
		<img class = "full" alt="half" src="../desert_pic_2.jpg">
	</div>
</div>
<div class="row-fluid">
	<div class="entries-index" class="desktop-only">
		<h2>Entries</h2>
		{{#each entry in controller}}
    {{#linkTo 'entry' entry classNames=[entry-title]}}{{ entry.title }}{{/linkTo}} <a> - {{created_at}} </a><br/>
		{{/each}}
   <h3>
      {{#linkTo 'index'}}Home{{/linkTo}}
   </h3>
	</div>
	<div class="entries-container">
		<div class="centered">
			{{outlet}}
		</div>
	</div>
</div>			
