<div class="row-fluid">
	<div class="entries-index desktop-only">
		<h2>Entries</h2>
		{{#each entry in controller}}
    {{#linkTo 'entry' entry classNames=[entry-title]}}{{ entry.title }}{{/linkTo}} <a> - {{created_at}} </a><br/>
		{{/each}}
   <h3>
      {{#linkTo 'index'}}Home{{/linkTo}}
   </h3>
	</div>
	<div id="mobile_entries" class="entries-container">
		<div class="desktop-only">
			<div class="centered">
				{{outlet}}
			</div>
		</div>
		<div class="mobile-only">
			<div class="centered">
				{{#each entry in controller}}
					<h1>{{title}}</h1>
					<div class="entry-body-container-mobile">
		      	{{{body}}}
		      </div>
	      	<hr/>
	      	<br/>
				{{/each}}
			</div>
		</div>
	</div>
</div>			
