<script type="text/x-handlebars">
<div id="portrait-mobile">
	<div class="row-fluid">
		<img class = "full" alt="half" src="530portrait_mobile.png">
	</div>
</div>
<div class="row-fluid">
	<div id="portrait-desktop" class="desktop-only">
		<img class = "half" alt="half" src="530portrait_desktop.png">
	</div>
	<div id="bio">
		<div class="centered">
			<h1>full-stack developer</h1>
			<hr>
			<div id="blurb">
				<p>With a background in data science and a passion for visual design, I'm a full-stack engineer able to make positive contributions on the front end as well as the back end. As a web developer, I draw on ideas from the worlds of design, engineering, and social science.</p>
        <p>After graduating from Columbia University in 2012 I worked as a research economist in the United Arab Emirates with the support of a Fulbright grant. I am currently a developer at <a href="http://crowdly.com/">Crowdly</a> in Boston, MA.</p>
				<p>Outside of my professional life, I am a dog person living in Jamaica Plain, MA, where I enjoy yoga, smiling, and learning new things.</p>
				<p>Follow me <a href="https://twitter.com/mattthousand">@mattthousand</a>, or reach me at matt.d.buckley1212 by care of gmail.</p>
				<div id="recent">
					<h1>recent work</h1>
					<hr>
					<p><a href="http://www.sentimentalist.me/">Sentimentalist</a> - a sentiment analysis tool featuring a built-in bayesian classifier integrated with the Twitter API.  In addition to its function as a sentiment analysis tool, Sentimentalist boasts a versioned API (http://www.sentimentalist.me/api/version1/sentiments) for use in developing new API-driven applications.</p>
					<p><a href="http://saidit.herokuapp.com/">SaidIt</a> - my first Ember app (with a Rails back-end). Also a sentiment analysis tool, SaidIt analyzes the 20 most recent tweets of any Twitter handle.</p>
					<p><a href="https://rubygems.org/gems/sad_panda">sad_panda</a> - a Ruby gem featuring tools for sentiment analysis and natural language processing.</p>
					<p>I also contributed to <a href="http://bamc.herokuapp.com/">BAMC</a>, a javascript/ruby app for recording and sharing ultra-fresh rhymes and beats</p>
				</div>
				<div class="centered-logos">
					<div class="logos">
						<div>
							<a href="http://www.linkedin.com/profile/view?id=167061191&trk=tab_pro"><img alt="Linkedin" class="logo" id="last" src="linkedin_d_brown.png" /></a>
						</div>
						<div>
							<a href="https://github.com/mattThousand"><img alt="Github" class="logo" id="middle" src="github_d_brown.png" /></a>
						</div>
						<div>
							<a href="http://twitter.com/mattthousand"><img alt="Twitter" class="logo" id="first" src="twitter_d_brown.png" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>